:root{
    --background-colour: #fff;
    --accent-colour: #32d8ae;
    --accent-colour-hover: #10b68c;
}

*{
    color:#000;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
}

body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient( #fff, #fff, #b2ffec);
    display: flex;
    flex-direction: row;
}

select {
    width: 100%;
    padding: 1rem;
    border: 0.1rem solid var(--accent-colour);
    border-radius: 0.5rem;
    background-color: #fff;
    color: #000;
    font-family: "Roboto", serif;
    font-size: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

select:focus {
    border-color: var(--accent-colour-hover);
    box-shadow: 0 0 0.5rem var(--accent-colour-hover);
    outline: none;
}

nav{
    color: #000;
    background-color: var(--accent-colour);
    height: 100vh;
    border-right: var(--accent-colour) solid 1px;
    width: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: width 0.3s ease;
    width: 4.25rem;
}

nav.expanded {
    width: 15rem;
}

.button{
    background-color: var(--accent-colour);
    color: #fff;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    padding: 1rem;
    transition: all .1s ease-in-out;
}

.button:hover{
    background-color: var(--accent-colour-hover);
    cursor: pointer;
}

#toggleButton {
    margin: 1rem;
    cursor: pointer;
    background: none;
    border: none;
}

.nav-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;
    transition: background-color 0.3s ease;
}

.nav-item:hover {
    background-color: var(--accent-colour-hover);
}

.icon {
    font-size: 1.5rem;
}

.text {
    margin-left: 1rem;
    display: none;
}

nav.expanded .text {
    display: inline;
}

#nav-right{
    display: flex;
    flex-direction: row;
}

.nav-element{
    padding: 1rem 2rem;
    transition: all .1s ease-in-out;
}

.nav-element:hover{
    background-color: var(--accent-colour);
    color: #fff;
    cursor: pointer;
}

#loginButton{
    margin-right: 1rem;
}

a{
    text-decoration: none;
}

nav img{
    height: 2rem;
}

#logoutButton {
    margin-top: auto; 
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: background-color 0.3s ease;
}

#logoutButton:hover {
    background-color: var(--accent-colour-hover);
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1rem;
    position: relative;
}


.element-list {
    width: 30%;
    border-right: 1px solid var(--accent-colour);
    padding: 1rem;
}


.element-details {
    width: 70%;
    padding: 1rem;
}
.management-panel {
    width: 55%;
    overflow: hidden;
    height: 100%;
}
.element-details-admin {
    width: 40%;
    padding: 1rem;
    float: left;
}
.element-list ul {
    list-style-type: none;
    padding: 0;
}


.element-list li {
    padding: 0.5rem;
    cursor: pointer;
}

.element-list li:hover, .element-list li.selected {
    background-color: var(--accent-colour-hover);
    color: #fff;
}


.addElementButton {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color: var(--accent-colour);
    color: #fff;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    padding: 1rem;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    border: none;
}

.addElementButton:hover {
    background-color: var(--accent-colour-hover);
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form label, form input, form textarea, form button {
    width: 100%;
    margin-bottom: 1rem;
}

form input, form textarea {
    padding: 0.5rem;
    border: 1px solid var(--accent-colour);
    border-radius: 0.5rem;
}

form button {
    background-color: var(--accent-colour);
    color: #fff;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    padding: 1rem;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    border: none;
}

form button:hover {
    background-color: var(--accent-colour-hover);
}

main {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.left-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 60%; 
    padding: 2rem;
}

.right-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
    width: 35%; 
    height: auto;
    padding: 2rem;
}

.info-box {
    background-color: var(--accent-colour);
    color: #fff;
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0.5rem;
    margin: 1rem;
    position: relative;
    transition: background-color 0.3s ease;
    padding-top: 1rem;
    border: 2px solid #000; 
}

.info-box:hover {
    background-color: var(--accent-colour-hover);
}

.info-title {
    font-size: 1.5rem;
    margin-bottom: 1rem; 
    text-align: center; 
    width: 100%; 
}

.info-content {
    text-align: left;
    width: 100%;
    height: auto;
    padding-left: 1rem;
}

.patient-info {
    background-color: var(--accent-colour);
    color: #fff;
    width: 100%;
    height: auto; 
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: flex-start;
    border-radius: 0.5rem;
    margin: 1rem;
    position: relative;
    transition: background-color 0.3s ease;
    padding: 1rem; 
    border: 2px solid #000; 
}

.patient-info:hover {
    background-color: var(--accent-colour-hover);
}

.info-button {
    background-color: #fff;
    color: var(--accent-colour);
    border: 1px solid var(--accent-colour);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    position: absolute;
    bottom: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.info-button:hover {
    background-color: var(--accent-colour);
    color: #fff;
}


.save-button, .cancel-button, .edit-button {
    background-color: var(--accent-colour);
    color: #fff;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    padding: 1rem;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    border: none;
    margin-top: 1rem; 
}

.save-button:hover, .cancel-button:hover, .edit-button:hover {
    background-color: var(--accent-colour-hover);
}


.form-buttons {
    display: flex;
    justify-content: space-between;
}

.form-buttons button {
    width: 48%; 
}

.edit-buttons {
    display: flex;
    
}

.cancel-button {
    margin-left: 1rem;
}
table {
    border-collapse: collapse;
    width: 100%;

}
p {
    overflow-x: auto;
    overflow-y: auto;
    word-break: break-word;
    white-space: pre-wrap;
    max-height: 400px;
    max-width: 100%;
    display: block;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

td.editable {
    cursor: pointer;
}

#editInput {
    width: 100%;
    height: 95%;
    padding: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    border: 2px solid #46c7b9;
    border-radius: 10px;
    background: #f9fdfd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    resize: none;
    transition: border-color 0.3s, box-shadow 0.3s;
}

#editInput:focus {
    outline: none;
    border-color: #34a89b;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: #ffffff;
}
.scrollable-list {
    width: 100%; 
    max-height: 700px; 
    overflow-y: auto; 
    border: 1px solid #ccc; 
    padding: 10px; 
    background-color: #f9f9f9; 
}

.scrollable-list li {
        margin-bottom: 10px; 
        cursor: pointer; 
}
.scrollable-table {
    width: 100%; 
    max-height: 800px; 
    overflow-y: auto;
    border: 1px solid #ccc; 
    padding: 10px; 
    background-color: #f9f9f9; 
}
table {
    width: 100%; 
    border-collapse: collapse; 
}

th, td {
    border: 1px solid #ddd; 
    padding: 8px; 
    text-align: left; 
}

th {
    background-color: #f2f2f2; 
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9; 
}
.modal-overlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000;
}


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    max-width: 90%;
}


.close-button {
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: #aaa;
    border: none;
    background: none;
    cursor: pointer;
}

    .close-button:hover {
        color: black;
    }
